@model DataTable
@using System.Data

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main" class="main">
    <div class="text-center mb-4">
        <h2 style="font-weight: bold;">OrderDetails</h2>
    </div>

    <div class="text-end mb-3">
        <a asp-controller="OrderDetail" asp-action="OrderDetailForm" class="btn btn-primary d-inline-block me-2">
            Add Order Details
        </a>

        <a asp-controller="OrderDetail" asp-action="ExportToExcel" class="btn btn-primary d-inline-block">
            Excel Export
        </a>
    </div>

    <h6 class="text-success">@TempData["SuccessMessage"]</h6>
    <h6 class="text-danger">@TempData["ErrorMessage"]</h6>

    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">OrderID</th>
                <th scope="col">ProductID</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Amount</th>
                <th scope="col">UserID</th>
                <th scope="col">Actions</th> <!-- Add a column for actions -->
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["OrderCode"]</td>
                    <td>@dataRow["ProductName"]</td>
                    <td>@dataRow["Quantity"]</td>
                    <td>@dataRow["Amount"]</td>
                    <td>@dataRow["TotalAmount"]</td>
                    <td>@dataRow["UserName"]</td>
                    <td>
                        <form method="post" asp-controller="OrderDetail" asp-action="OrderDetailDelete" onsubmit="return confirmDelete()">
                            <input type="hidden" name="OrderDetailID" value="@dataRow["OrderDetailID"]" />
                            <button type="submit" class="btn btn-outline-danger btn-xs">
                                <i class="bi bi-x"></i>
                            </button>
                        </form>
                        <!-- Edit button -->
                        <a class="btn btn-outline-success btn-xs" asp-controller="OrderDetail" asp-action="OrderDetailForm" asp-route-OrderDetailID="@dataRow["OrderDetailID"]">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</main>

<script>
    function confirmDelete()
    {
        return confirm("Are you Sure! You want to Delete this record from OrderDetail-table?")
    }
</script>
